@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

.logo
{
    width: 150px;
    margin-left: 177px;
    margin-top: 15px;
}
.language_select
{
    background-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-left: 910px;
    width: 130px;
    font-size: 17.5px;
    border-color: gray;
    border-radius:6px;
}
.button_header
{
    background-color: red;
    color: white;
    width: 70px;
    border-style: none;
    border-radius: 3px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}
body
{
    background-image: url(assets/BR-pt-20230731-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.center_header_main
{
    display: block;
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 14%;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: normal;
    line-height: 0px;
}

.text_header
{
    font-size: 50px;
    font-weight: bold;
}
.text_p
{
    line-height: 0px;
    padding: 15px;
    font-size: 25px;
}
.button_register
{
    color: white;
    background-color: red;
    border-style: none;
    border-radius:6px;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}
.register
{
    display: inline-flex;
}
input
{
    width: 500px;
    background-color: black;
    color: white;
    border-style: none;
    border-style:none;
    border-radius: 4px;
    opacity: 40%;
}


